APP_HOST=127.0.0.1
APP_PORT=8899

POP_HOST=127.0.0.1
POP_PORT=110
POP_SSL=false
POP_TIMEOUT=10

SESSION_EXPIRE_MINUTES=1440
DEFAULT_ALLOWED_DOMAIN=edu.zitw.de

ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
